@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;  
}
body {
  background-color: white;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper
{
  width: 1280px;
  margin: 50px auto;
}
 header .logo{
  font-weight: 600;
  font-size: 20px;
 }

 header ul.nav{
  float: right;
  list-style: none;
 }

 header ul.nav li
 {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
 }

 header ul.nav li:hover
 {
  opacity: 0.5;
 }

 header .presentation{
  margin: 50px 0;
  background: url('./img/hed.jpg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
 }
 footer
 {
   text-align: center;
   margin-top: 10px;
 }
